#divCode {
  height: 90%;
  white-space: pre-wrap;
  overflow-y: scroll;
}

#divEjercicio{
  height: 200px;
  overflow-y: scroll;
}

#divReply{
  display: none;
  white-space: pre-wrap;
}
#divXmls{
  display: none;
}

body{
  padding-right: 1%;
  padding-left: 1%;
  background-color: #fff;
  font-family: sans-serif;
}

h1 {
  font-weight: normal;
  font-size: 140%;
}
